body {
	padding-top: 100px;	
	padding-bottom: 70px;
}

.first-header {
	padding-top: 70px;
}

.team-member{
	text-align: center;
}

.member {
	text-align: center;
}

.bloc {
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar-right {
	margin-right: 40px;
}

legend {
	color: #fff;
}

.show {
	display: hidden;
}

.malist {
	list-style-type: none;
	width:450px;
	margin-left:auto;
	margin-right:auto;
	background-color: #f2f2f2;
	text-align: center;
	padding:2em;
	color:black;
}

.malist ul li a{
	color:black;
}

.malist li a {
	color: #fff;
}

.monfiltre {
	color: #000;
}

.cookie {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	color: #fff;
	font-size: 0.9em;
	background-color: #000;
	text-align: center;
}
.cookie a{text-decoration: underline;}
.cookie a:hover{text-decoration: none; color: #fff;}
.cookie_btn{display: inline;
background-color: #f2f2f2;
margin-left: 10px;
margin-right: 10px;
padding: 5px;
color: #000;
}
.cookie_btn a{
	text-decoration: none;
}